@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    font-family: 'Noto Serif', serif;
}

/***** header-img *****/

#header-img {
    background-image: url(img/img-1/hd-img.jpeg);
    background-size: cover;
    background-position: center center;
    min-height: 60vh;
}

.h-text {
    text-shadow: 2px 2px 3px black;
    letter-spacing: 2px;
    color: white;
    font-size: 40px;
}

/***** image container *****/

.images--img__item1 {
    background-image: url(img/img-1/na-1.jpeg);
    background-size: cover;
    width: 33.333333%;
    background-position: center center;
    height: 300px;
}

.images--img__item2 {
    background-image: url(img/img-1/na-2.jpeg);
    background-size: cover;
    width: 33.333333%;
    background-position: bottom center;
    height: 300px;
}

.images--img__item3 {
    background-image: url(img/img-1/na-3.jpeg);
    background-size: cover;
    width: 33.333333%;
    height: 300px;
}

/***** Section *****/

.geography {
    background-color: rgb(232, 224, 224);
}

.geography-card {
    margin-left: 10px;
    margin-top: 30px;
}

.geography-card__i {
    margin-left: -30px;
    margin-top: -20px;
}

/***** Section *****/

.bg-img {
    background-image: url(img/img-1/mountain.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 80vh;
}

.bg-img__desp h6 {
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    min-height: 80vh;
    flex-direction: column;
    letter-spacing: 1px;
}

/***** show our tour *****/

.our-tour {
    background-image: url(img/img-1/tour.jpg);
    background-size: cover;
    min-height: 100vh;
    align-items: center;
}

.our-tour__card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
    width: 100%;
}

.our-tour__desp {
    background-color: #FFF;
    width: 50%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    z-index: 1;
    padding: 10px;
}

.our-tour__pic {
    width: 50%;
}

.our-tour__pic img {
    margin-left: -105px;
    box-shadow: 2px 2px 3px black;
}

.our-tour__card .btn {
    background-color: rgb(71, 134, 7);
    color: white;
    border: none;
}

.our-tour__card .btn a {
    color: white;
    padding: 20px 10px;
    text-decoration: none;
}

/***** book now *****/

.book-now {
    background-color: rgb(81, 195, 81);
}

/***** footer *****/

.footer {
    background-image: url(img/img-1/ft-img.jpeg);
    background-size: cover;
}

.footer-box {
    display: flex;
    justify-content: space-between;
}

.footer-box__col {
    width: 20%;
    padding: 10px 10px;
}

.footer-box__col p {
    color: white;
    padding: 5px 0;
}

.footer-box__col p:hover {
    color: black;
    text-shadow: 2px 4px 5px white;
    cursor: pointer;
    font-weight: bolder;
}

.footer-box__col h5 a {
    color: red;
    text-decoration: none;
}

.footer-box__col h5:hover {
    transform: .5s;
    text-shadow: 2px 2px 5px black;
}

/***** End Section *****/

@media only screen and (max-width: 790px) {
    .images--img__item1 {
        width: 100%;
        border-bottom: 2px solid white;
    }
    .images--img__item2 {
        width: 100%;
        border-bottom: 2px solid white;
    }
    .images--img__item3 {
        width: 100%;
        border-bottom: 2px solid white;
    }
    .our-tour__card {
        flex-direction: column;
    }
    .our-tour__desp {
        width: 100%;
    }
    .our-tour__pic {
        width: 100%;
    }
    .our-tour__pic img {
        margin-left: 0px;
        z-index: 0;
        margin-top: 15px;
    }
    .footer-box {
        flex-direction: column;
    }
    .footer-box__col {
        width: 100%;
        padding: 10px 10px;
    }
    .geography-card {
        margin-left: 0px;
    }
    .geography-card__i {
        margin-left: -15px;
        margin-top: -10px;
    }
}