@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    font-family: 'Noto Serif', serif;
}

/***** header-img *****/

#header-img {
    background-image: url(img/img-3/0f.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 60vh;
}

.h-text {
    text-shadow: 2px 2px 3px black;
    letter-spacing: 2px;
    color: white;
    font-size: 40px;
}

/***** collapes *****/

.collap-btn {
    border: none;
    background-color: white;
    color: black;
}

.collap-btn:hover {
    border-bottom: 5px solid green;
}

.box1 {
    background-color: rgb(227, 220, 220);
}

.box2 {
    background-color: rgb(189, 187, 187);
    width: 90%;
    margin: auto;
}

.collapse-right__i {
    display: block;
    margin-left: 155px;
    padding: 8px 0;
}

.collapse-right__heading {
    padding: 8px;
    border-right: 3px solid green;
    margin-right: 10px;
    text-align: left;
}

.collapse-left__heading {
    padding: 20px;
}

.collapse-video iframe {
    width: 727px;
    height: 409px;
}

.collapse-map {
    height: 500px;
    width: 100%;
}

/***** carousel *****/

.carousel-item img {
    width: 150vh;
    height: 90vh;
    margin: auto;
}

/***** footer *****/

.footer {
    background-image: url(img/img-1/ft-img.jpeg);
    background-size: cover;
}

.footer-box {
    display: flex;
    justify-content: space-between;
}

.footer-box__col {
    width: 20%;
    padding: 10px 10px;
}

.footer-box__col p {
    color: white;
    padding: 5px 0;
}

.footer-box__col p:hover {
    color: black;
    text-shadow: 2px 4px 5px white;
    cursor: pointer;
    font-weight: bolder;
}

.footer-box__col h5 a {
    color: red;
    text-decoration: none;
}

.footer-box__col h5:hover {
    transform: .5s;
    text-shadow: 2px 2px 5px black;
}


@media only screen and (max-width:500px) {
    .collapse-right__i {
        display: block;
        margin-left: 100px;
        padding: 8px 0;
        text-align: center;
    }
    .collapse-left__heading {
        padding: 21px;
        text-align: right;
    }
    .carousel-item img {
        width: 100vh;
        height: 50vh;
        margin: auto;
    }
    .collapse-video iframe {
        width: 310px;
        height: 300px;
    }
    .footer-box {
        flex-direction: column;
    }
    .footer-box__col {
        width: 100%;
        padding: 10px 10px;
    }
}